@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Open Sans', sans-serif;
    }
}

.layoutContainer {
  position: relative;

  &:before {
    content: '';
    background-image: url('../images/page-pattern-2.svg');
    background-size: 600px;
    background-repeat: repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .2;
  }

  & > * {
    position: relative;
    z-index: 2;
  }
}
